.lastest__reviews {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 430px;
  border-radius: 20px;
  padding-left: 52px;
  padding-right: 127px;
  .profile {
    padding-top: 30px;
    width: 160px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .avatar {
      width: 66px;
      height: 66px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .user__info:first-child {
      font-size: 17px;
      font-weight: 800;

      & > p {
        padding-top: 7px;
      }
    }
  }

  .header__container {
    padding-left: 22px;
    font-weight: 900;
    font-size: 26px;
  }

  .summary__container {
    color: #19063d80;
    font-weight: 600;
    font-size: 14px;
    padding-left: 22px;
    padding-top: 30px;
  }
}
