.news__card {
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 20px;
  & > img {
    border-radius: 20px;
    width: 100%;
    height: 300px;
  }

  .card__content {
    padding: 10px;

    .card__header {
      color: #0f1530;
      font-size: 20px;
      font-weight: 700;
    }

    .card__summary {
      font-weight: 700;
      font-size: 16px;
      color: rgba(15, 21, 48, 0.5);
    }
  }
}
