.product__details {
  //   position: relative;
  .card__container {
    margin-top: 25px;
  }

  & > hr {
    position: absolute;
    width: 99.9%;
    right: 0%;
    left: 0%;
    top: 125;
    margin-top: 50px;
    color: #a19ab033;
  }

  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    // background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
  }

  .bloc-tabs {
    display: flex;
  }
  .tabs {
    padding: 15px;
    text-align: center;
    background: white;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    color: #0f153080;
  }

  .active-tabs {
    background: white;
  }

  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 3px;
    background: #7733fe;
  }

  button {
    border: none;
  }
  .content-tabs {
    flex-grow: 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    margin-top: 50px;
  }

  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
}
